<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/error.css">
    <title>Error-404|Page Not Found</title>
</head>

<body>
    <div class="container">
        <header class="name__style">Error-404</header>

        <section class="error">Sorry! Nothing To show Here.</section>
        <a href="/" class="btn btn--animated btn--white">Go Back To Home Page!</a>
    </div>
</body>

</html>