<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/expensehandler.css">
    <title>ExpenseManager | Majestic Robo</title>
</head>
<body>
    <div id="container" class="container">
        <header class="header">
            <div class="header__logo">
                <div class="logo__style">
                    <img src="./img/logo.png" style="width:100%; height:100%" alt="logo">
                </div>
            </div>
            <div class="header__heading">
                <div class="name__style style2">Expense Manager</div>
            </div>
            {{>navigation}}
        </header>
        <section class="pictures">
            <div class="pictures__container">
                <img src="./img/expensemanager.jpg" alt="WeatherApp" class="pictures__container--style">
            </div>
            <a href="https://node-expense-handler.herokuapp.com" class="pictures__link">Visit
                ExpenseManager&rightarrow;</a>
        </section>
        <article class="aboutApp">
            <h1 class="aboutApp__heading "># About ExpenseManager</h1>
            <p class="aboutApp__text">Expense Manager is a web app which can be used to handle your monthly expenses
                basically it can be used by a group of people who live together and share there expenses.This app keep
                records of all expenditure and let you know that how much money and on which items and on which date it
                was purchased.It calculates the average of total money spend in a month and informs you how much exactly
                you have to pay so, to stay out of chaos of money problem among your group .
            </p>
        </article>
        <article class="technologies">
            <h1 class="aboutApp__heading"># Technical Sheet &RightArrow;</h1>
            <h3 class="aboutApp__subHeading">&#10095; BackEnd for maintaining server</h3>
            <p class="aboutApp__text"><img src="./img/nodeIcon.png" alt="" class="technologies__icons">NodeJs along with
                ExpressJs</p>
            <h3 class="aboutApp__subHeading">&#10095; FrontEnd for UI</h3>
            <p class="aboutApp__text"><img src="./img/html5icon.png" alt="" class="technologies__icons">Html5
                and<img src="./img/css3icon.png" alt="" class="technologies__icons"> CSS3 with <img src="./img/sass.png"
                    alt="" class="technologies__icons">SCSS and<img src="./img/jsIcon.png" alt=""
                    class="technologies__icons">JS</p>
            <h3 class="aboutApp__subHeading">&#10095; Database for Handling data</h3>
            <li class="aboutApp__text">My SQL &rightarrow; For storing the user data</li>
            <h3 class="aboutApp__subHeading">&#10095; Npm Packages Used</h3>
            <li class="aboutApp__text">Express &RightArrow;For handling various routes. </li>
            <li class="aboutApp__text">Express-Session &RightArrow;For creating user session to maintain the security.
            </li>
            <li class="aboutApp__text">Body-Parser &RightArrow;For parsing the data present in body part of httpRequest.
            </li>
            <li class="aboutApp__text">mysql &RightArrow;For creating connection between server and MySQL database.
            </li>
            <li class="aboutApp__text">BcryptJs &RightArrow;For User authentication and encrypting user data before
                sending it to database.</li>
            <li class="aboutApp__text">Handlebars &RightArrow;For creating dynamic templates to render the data send by
                the server. </li>
        </article>
        {{>footer}}
    </div>
</body>

</html>