<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/quotes.css">
    <title>QUOTES|Abhinav Jha</title>
</head>

<body>
    <div class="outerGridContainer">
        <header class="header">
            <div class="logo__style">Logo</div>
            <div class="header__heading">
                <h1 class="name__style">My Quotes</h1>
                <span class="text__style">Well ! I hope you'll find few motives from here.
                </span><span style="font-size: 3.2rem;">😅</span>
            </div>
            {{>navigation}}
        </header>


        <section class="innerGridContainer">
            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--1">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/little_hope.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">The feel of winning is different when people are waiting for you to
                            lose. 🔥🔥🔥</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--2">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/speed_of_light.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">A victory without
                            an effort is worst than a defeat. </p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--3">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/life_enjoy.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">Dream your dreams in reality not in imagination. </p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--4">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/choose.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Choose what you want not others might.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--6">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/child_and_adult.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Being an adult doesn't mean that you have to loose your childish
                            image,You just have to to see the world with new eyes. </p>
                    </div>
                </figure>
            </div>

        </section>














        <section class="innerGridContainer">
            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--7">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/fake_reality.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Certainly a day will come when you'll realize you could have changed
                            your fate. </p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--8">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/broken_mirror.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">life is like a broken mirror little by little you pick up the pieces
                            more you see yourself.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--9">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/winning_feel.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">Keep your friends close and enemies closer.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--10">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/resources.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text" style="font-size: 3rem;">It doesn't matter how much resource you have
                            ,if you don't know how to
                            use them... then it'll never be enough.</p>
                    </div>
                </figure>
            </div>



            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--12">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/rumors.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Every time you lose to your excuses,you lose the time for what you made
                            it.</p>
                    </div>
                </figure>
            </div>

        </section>










        <section class="innerGridContainer">
            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--13">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/taking_place.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">People want to take your place until they realize what it takes to play
                            your role. </p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--14">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/suffering.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">You are the creator of your own judgement ...so never judge yourself
                            from other's perspective.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--15">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/success_on_head.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">Never let success to get on your head and failure to your heart.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--16">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/time_to_change.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text" style="color:rgb(255, 255, 255)">You can't change the time but it's time
                            for you to change.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--18">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/truth.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">If you want to reach most people won't then you must do that most people
                            don't.</p>
                    </div>
                </figure>
            </div>
        </section>










        <section class="innerGridContainer">
            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--19">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/brightest_star.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Darkest night cherishes the brightest star.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--20">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/heart_deceiving.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Deceiving your heart is totally up to your mind.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--21">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/hide_yourself.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">You have to hide yourself for sometime to show off later.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--22">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/hope.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">A little hope is effective and a lot is dangerous.</p>
                    </div>
                </figure>
            </div>



            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--24">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/introvert.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text" style="font-size: 2.8rem;">Being an introvert,you'd have analysed
                            thousands different of ways to
                            win over an argument but won't have enough courage to speak even a word.</p>
                    </div>
                </figure>
            </div>
        </section>









        <section class="innerGridContainer">
            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--25">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/art_in_losing.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">There is an art of losing yourself but you have to figure it out.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--26">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/enemy_knowing.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">It's really to have a true enemy rather than a fake friend.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--27">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/a_day_will_come.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">Time will come ,tables will turn others will succeed and you will
                            regret.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--28">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/imagination.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Don't be afraid of losing people, be afraid of losing yourself by
                            pleasing to everyone.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--30">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/brain_as_processor.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">use your brain as processor not as hardisk.</p>
                    </div>
                </figure>
            </div>

        </section>









        <section class="innerGridContainer">

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--31">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/lifestyle_promised.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Don't forget the lifestyle you have promised to yourself.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--32">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/road_less_taken.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">If you deeply observe, everyone is faking to accept the reality.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--33">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/world.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">A day will come when world will accept why you were different.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--34">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/silence.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Silence is always louder than violence. </p>
                    </div>
                </figure>
            </div>



            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--36">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/seeing_is_believing.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Hope without confidence is just a word,which has no meaning but desires.
                        </p>
                    </div>
                </figure>
            </div>

        </section>












        <section class="innerGridContainer">

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--37">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/mountain_top.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">There is solution for every problem but fact is some of them are just
                            steeper as mountain.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--38">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/past_realisation.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">when you judge someone on their past then it becomes impossible for that
                            past to escape.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__large gridImageCell gridImageCell--39">
                <figure class="imageContainer__large">
                    <img src="./img/quotes/mistakes.jpg" alt="" class="imageContainer__large--style">

                    <div class="quotes">
                        <p class="quotes__text">Making mistakes is rule for the god as well but repeating them is up to
                            you.</p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumLeft gridImageCell gridImageCell--40">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/time.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text">Time is already ticking forward which means tomorrow is already today.
                        </p>
                    </div>
                </figure>
            </div>

            <div class="innerGridContainer__mediumRight gridImageCell gridImageCell--42">
                <figure class="imageContainer__medium">
                    <img src="./img/quotes/different.jpg" alt="" class="imageContainer__medium--style">
                    <div class="quotes">
                        <p class="quotes__text" style="background-color: rgba(172, 173, 116, 0.616);">Some people will
                            ignore you not becoz you are right but you are
                            different.</p>
                    </div>
                </figure>
            </div>

        </section>

    </div>

</body>

</html>