<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="./css/skills.css">
    <title>SKILLS | Majestic robo</title>
</head>

<body>
    <body>
        <div id="container" class="container">
            <header class="header">
            <div class="header__logo">
                <div class="logo__style">
                    <img src="./img/logo.png" style="width:100%; height:100%" alt="logo">
                </div>
            </div>
                <div class="name__style style2">Skills (2020)</div>
                {{>navigation}}
            </header>
            <h1 class="name__style skillHeading" style="margin:2rem;">&rightarrow; Technical Skills 💻</h1>
            <section class="technicalContainer">
                <h1 class="technicalContainer__heading">
                    A.) FrontEnd
                </h1>
                <div class="skillContainer">
                    <div class="skillContainer__card frontend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--html"></circle>
                                </svg>
                                <div class="number">
                                    <h2>85<span>%</span></h2>
                                </div>
                                <div class="text">Html5</div>
                            </div>
                        </div>
                    </div>
                    <div class="skillContainer__card frontend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--css"></circle>
                                </svg>
                                <div class="number">
                                    <h2>85<span>%</span></h2>
                                </div>
                                <div class="text">CSS3</div>
                            </div>
                        </div>
                    </div>
                    <div class="skillContainer__card frontend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--js"></circle>
                                </svg>
                                <div class="number">
                                    <h2>60<span>%</span></h2>
                                </div>
                                <div class="text">Javascript</div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="technicalContainer">
                <h1 class="technicalContainer__heading">
                    B.) BackEnd
                </h1>
                <div class="skillContainer">
                    <div class="skillContainer__card backend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--java"></circle>
                                </svg>
                                <div class="number">
                                    <h2>80<span>%</span></h2>
                                </div>
                                <div class="text">Java</div>
                            </div>
                        </div>
                    </div>
                    <div class="skillContainer__card backend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--node"></circle>
                                </svg>
                                <div class="number">
                                    <h2>50<span>%</span></h2>
                                </div>
                                <div class="text">NodeJs</div>
                            </div>
                        </div>
                    </div>
                    <div class="skillContainer__card backend">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--c"></circle>
                                </svg>
                                <div class="number">
                                    <h2>40<span>%</span></h2>
                                </div>
                                <div class="text">C++</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="technicalContainer">
                <h1 class="technicalContainer__heading">
                    B.) Databases
                </h1>
                <div class="skillContainer">
                    <div class="skillContainer__card databases">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--mysql"></circle>
                                </svg>
                                <div class="number">
                                    <h2>90<span>%</span></h2>
                                </div>
                                <div class="text">MySql</div>
                            </div>
                        </div>
                    </div>
                    <div class="skillContainer__card databases">
                        <div class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" id="progress--mongodb"></circle>
                                </svg>
                                <div class="number">
                                    <h2>55<span>%</span></h2>
                                </div>
                                <div class="text">MongoDb</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h1 class="name__style skillHeading" style="margin:2rem">&rightarrow; Hobbies👉</h1>
            <section class="hobbies">
                <h1 class="technicalContainer__heading">
                    Languages
                </h1>
                <div class="hobbies__container">
                    <h1 class="hobbies__container--text">English</h1>
                    <div class="hobbies__progressbar progressbar--english"></div>
                </div>
                <div class="hobbies__container">
                    <h1 class="hobbies__container--text">Hindi</h1>
                    <div class="hobbies__progressbar progressbar--hindi"></div>
                </div>
                <div class="hobbies__container">
                    <h1 class="hobbies__container--text">Maithli</h1>
                    <div class="hobbies__progressbar progressbar--maithli"></div>
                </div>
                <div class="hobbies__container">
                    <h1 class="hobbies__container--text">Spanish</h1>
                    <div class="hobbies__progressbar progressbar--spanish"></div>
                </div>
            </section>
            {{>footer}}

        </div>
    </body>

</html>