<footer class="footer">
        <h2 class="footer__text">You Can Find Me On &RightArrow;</h2>
        <div class="footer__icons">

                <a href="https://www.instagram.com/_abhi_ig_/?hl=en"><img src="./img/instagram-colourful-icon.png"
                                alt="Instagram" class="footer__icons--style"></a>
                <a href="https://www.facebook.com/abhinav2425"><img
                                src="./img/facebook.png" alt="Facebook"
                                class="footer__icons--style"></a>
                <a href="https://twitter.com/Abhinav25733209"><img src="./img/twitter_png.png" alt="Twitter"
                                class="footer__icons--style"></a>
                <a href="https://github.com/abhi2425"><img src="./img/github.png" alt="Github"
                                class="footer__icons--style"></a>

        </div>
        <div class="footer__text"> &copy; Majestic Robo </div>
</footer>