:root {
    --shadow-dark: 0 8.5rem 12rem rgba(0, 0, 0, 0.767);
    --shadow-light: 0 4.25rem 6rem rgba(0, 0, 0, 0.493);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.5%; // 1rem =9px;
    }
    @include respond(tab-port) {
        font-size: 50%; // 1rem =8px
    }
    @include respond(phone) {
        font-size: 37.3%; // 1rem =8px
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem =12px
    }
    scroll-behavior: smooth;
}

body {
    font-family: "open sans"sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0rem;
    @include respond(tab-land) {
        font-weight: 400;
        line-height: 1.3;
    }
    @include respond(tab-port) {
        font-weight: 300;
        line-height: 1.2;
        width: 100vw;
    }
    @include respond(phone) {
        font-weight: 200;
        line-height: 1.1;
    }
}

::-webkit-scrollbar {
    width: 1.5rem;
    background-image: linear-gradient(to left bottom, black, grey);
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .6rem rgb(0, 0, 0);
    border-radius: 2rem;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: beige;
    border-radius: 1rem;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom left, #8427a0, #4161ca);
}