:root {
  --shadow-dark: 0 8.5rem 12rem rgba(0, 0, 0, 0.767);
  --shadow-light: 0 4.25rem 6rem rgba(0, 0, 0, 0.493);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.3%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "open sans" sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0rem;
}
@media only screen and (max-width: 75em) {
  body {
    font-weight: 400;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 56.25em) {
  body {
    font-weight: 300;
    line-height: 1.2;
    width: 100vw;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    font-weight: 200;
    line-height: 1.1;
  }
}

::-webkit-scrollbar {
  width: 1.5rem;
  background-image: linear-gradient(to left bottom, black, grey);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem black;
  border-radius: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: beige;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom left, #8427a0, #4161ca);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: bottom-to-top 2s ease-out 0.3s;
  animation-fill-mode: backwards;
}

#projects--btn {
  color: #121212d3;
  background-color: #d6d6d6;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-style: italic;
  transition: 0.6s;
}
#projects--btn:hover {
  background-color: #8d8d8d;
  color: white;
}

.name__style {
  font-size: 10.2rem;
  color: whitesmoke;
  font-family: "Tangerine", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6rem;
  text-align: center;
  text-shadow: 0.4rem 0.4rem 0.4rem #cacaca;
  animation: left-to-right 2s ease-in-out;
}
@media only screen and (max-width: 75em) {
  .name__style {
    font-size: 9.5rem;
    margin: 3rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #cacaca;
  }
}
@media only screen and (max-width: 37.5em) {
  .name__style {
    font-size: 11rem;
    margin: 6rem;
    font-weight: 600;
  }
  .logo__style {
    font-size: 4rem;
    color: beige;
    width: 80px !important;
    height: 80px !important;
  }
}

.logo__style {
  font-size: 4rem;
  color: beige;
  width: 160px;
  height: 160px;
}

.text__style {
  font-size: 2.6rem;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #222, #555);
}

.error {
  font-size: 3.5rem;
  font-style: italic;
  text-align: center;
  color: whitesmoke;
}
