:root {
  --shadow-dark: 0 8.5rem 12rem rgba(0, 0, 0, 0.767);
  --shadow-light: 0 4.25rem 6rem rgba(0, 0, 0, 0.493); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.3%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "open sans"sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0rem; }
  @media only screen and (max-width: 75em) {
    body {
      font-weight: 400;
      line-height: 1.3; } }
  @media only screen and (max-width: 56.25em) {
    body {
      font-weight: 300;
      line-height: 1.2;
      width: 100vw; } }
  @media only screen and (max-width: 37.5em) {
    body {
      font-weight: 200;
      line-height: 1.1; } }

::-webkit-scrollbar {
  width: 1.5rem;
  background-image: linear-gradient(to left bottom, black, grey); }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem black;
  border-radius: 2rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: beige;
  border-radius: 1rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom left, #8427a0, #4161ca); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: rgba(245, 245, 220, 0.836);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: linear-gradient(45deg, #1f8bac, #5c198f);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Tangerine', sans-serif;
  letter-spacing: .2rem;
  text-shadow: 0.4rem 0.4rem 0.4rem #cacaca;
  padding: .4rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 6rem;
      margin: 5rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #595d5e;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.outerGridContainer {
  display: grid;
  grid-template-rows: min-content repeat(7, 314vh);
  grid-template-columns: 2vw repeat(10, minmax(4rem, 1fr)) 2vw;
  background-color: black;
  grid-row-gap: 2vh; }
  @media only screen and (max-width: 75em) {
    .outerGridContainer {
      grid-template-rows: min-content repeat(7, 180vh); } }
  @media only screen and (max-width: 56.25em) {
    .outerGridContainer {
      display: flex;
      flex-direction: column; } }

.header {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem; }
  .header__heading {
    margin-left: -8rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      align-items: flex-start;
      padding: 6rem; } }

.name__style {
  font-size: 10.2rem;
  color: whitesmoke;
  font-family: 'Tangerine', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .4rem;
  text-align: center;
  text-shadow: 0.4rem 0.4rem 0.4rem #cacaca;
  animation: left-to-right 2s ease-in-out; }
  @media only screen and (max-width: 75em) {
    .name__style {
      font-size: 9.5rem;
      margin: 3rem;
      text-shadow: 0.3rem 0.3rem 0.3rem #cacaca; } }

.logo__style {
  font-size: 4rem;
  color: beige; }

.text__style {
  font-size: 2.6rem;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  letter-spacing: .5px; }

.innerGridContainer {
  grid-column: 2/12;
  display: grid;
  grid-template-rows: repeat(3, 100vh);
  grid-template-columns: 4vw repeat(10, minmax(4rem, 1fr)) 4vw;
  background-image: linear-gradient(to left bottom, rgba(17, 17, 17, 0.788), rgba(46, 44, 44, 0.87));
  grid-gap: 3vh;
  padding: 3rem; }
  @media only screen and (max-width: 75em) {
    .innerGridContainer {
      grid-template-rows: repeat(3, 55vh); } }
  @media only screen and (max-width: 56.25em) {
    .innerGridContainer {
      display: flex;
      flex-direction: column;
      padding: 3.5rem; } }
  .innerGridContainer__mediumLeft {
    grid-column: 1/7;
    padding: 3rem; }
  .innerGridContainer__mediumRight {
    grid-column: 7/13;
    padding: 3rem; }
  .innerGridContainer__large {
    grid-column: 2/12; }
    @media only screen and (max-width: 56.25em) {
      .innerGridContainer__large {
        height: 50vh; } }

.imageContainer__medium {
  width: 80vh;
  height: 80vh;
  overflow: hidden;
  box-shadow: var(--shadow-dark);
  position: relative;
  transition: .8s; }
  .imageContainer__medium:hover {
    transform: scale(0.8);
    box-shadow: 0 6rem 12rem rgba(0, 0, 0, 0.788); }
  @media only screen and (max-width: 75em) {
    .imageContainer__medium {
      height: 40vh; } }
  @media only screen and (max-width: 56.25em) {
    .imageContainer__medium {
      height: 74vh; } }
  @media only screen and (max-width: 37.5em) {
    .imageContainer__medium {
      height: 60vh; } }
  .imageContainer__medium--style {
    width: 100%;
    filter: blur(0.7rem);
    opacity: .8; }

.imageContainer__large {
  width: 50vw;
  box-shadow: var(--shadow-dark);
  position: relative;
  transition: .8s; }
  .imageContainer__large:hover {
    transform: scale(0.8);
    box-shadow: 0 6rem 12rem rgba(0, 0, 0, 0.788); }
  @media only screen and (max-width: 75em) {
    .imageContainer__large {
      width: 65vw; } }
  @media only screen and (max-width: 56.25em) {
    .imageContainer__large {
      width: 88vw; } }
  .imageContainer__large--style {
    width: 100%;
    filter: blur(0.7rem);
    opacity: .8; }

.quotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .quotes__text {
    color: whitesmoke;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: .2rem;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 0.4rem 0.4rem 0.4rem #cacaca;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .quotes__text {
        font-size: 6.5rem;
        letter-spacing: .5rem; } }
    @media only screen and (max-width: 37.5em) {
      .quotes__text {
        font-size: 4.5rem;
        letter-spacing: .5rem; } }

.gridImageCell {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: var(--shadow-light); }
  .gridImageCell--1 {
    background-image: linear-gradient(to right top, #00f7ff77, #1b1a1aad), url(../../img/quotes/little_hope.jpg); }
  .gridImageCell--2 {
    background-image: linear-gradient(to right top, #ec212169, #0a0909ea), url(../../img/quotes/speed_of_light.jpg); }
  .gridImageCell--3 {
    background-image: linear-gradient(to right top, #161613bd, #ff634783), url(../../img/quotes/life_enjoy.jpg); }
  .gridImageCell--4 {
    background-image: linear-gradient(to right top, #0442579f, #161515a2), url(../../img/quotes/choose.jpg); }
  .gridImageCell--6 {
    background-image: linear-gradient(to right top, #404242b9, #533520c2), url(../../img/quotes/child_and_adult.jpg); }
  .gridImageCell--7 {
    background-image: linear-gradient(to right top, #1b1b1b83, #666565ad), url(../../img/quotes/fake_reality.jpg); }
  .gridImageCell--8 {
    background-image: linear-gradient(to right top, #a7a1a1ab, #7c7979a6), url(../../img/quotes/broken_mirror.jpg); }
  .gridImageCell--9 {
    background-image: linear-gradient(to right top, #0a0a0a8e, #fcf6f6a2), url(../../img/quotes/winning_feel.jpg); }
  .gridImageCell--10 {
    background-image: linear-gradient(to right top, #1a1919be, #4e4229c7), url(../../img/quotes/resources.jpg); }
  .gridImageCell--11 {
    background-image: linear-gradient(to right top, rgba(231, 239, 240, 0.557), #1a1818a2), url(../../img/quotes/victory_without.jpg); }
  .gridImageCell--12 {
    background-image: linear-gradient(to right top, #7c84858e, #0c0708a2), url(../../img/quotes/rumors.jpg); }
  .gridImageCell--13 {
    background-image: linear-gradient(to right top, #ffd49b80, #0e0d0d80), url(../../img/quotes/taking_place.jpg); }
  .gridImageCell--14 {
    background-image: linear-gradient(to right top, #7a83838e, #0f0f0fa2), url(../../img/quotes/suffering.jpg); }
  .gridImageCell--15 {
    background-image: linear-gradient(to right top, #222b12c9, #0a161bce), url(../../img/quotes/success_on_head.jpg); }
  .gridImageCell--16 {
    background-image: linear-gradient(to right top, #29272791, #55494f88), url(../../img/quotes/time_to_change.jpg); }
  .gridImageCell--17 {
    background-image: linear-gradient(to right top, #282b2b8e, #dfac95a2), url(../../img/quotes/warrior.jpg); }
  .gridImageCell--18 {
    background-image: linear-gradient(to right top, #6e9cc78e, #ee9949a1), url(../../img/quotes/truth.jpg); }
  .gridImageCell--19 {
    background-image: linear-gradient(to right top, #0808088e, #14bedca2), url(../../img/quotes/brightest_star.jpg); }
  .gridImageCell--20 {
    background-image: linear-gradient(to right top, #0808088e, #535253a2), url(../../img/quotes/heart_deceiving.jpg); }
  .gridImageCell--21 {
    background-image: linear-gradient(to right top, #133f165e, #d16e2877), url(../../img/quotes/hide_yourself.jpg); }
  .gridImageCell--22 {
    background-image: linear-gradient(to right top, #1213138e, #9c9899a2), url(../../img/quotes/hope.jpg); }
  .gridImageCell--23 {
    background-image: linear-gradient(to right top, #00f7ffab, #11101086), url(../../img/quotes/fun_in_failure.jpg); }
  .gridImageCell--24 {
    background-image: linear-gradient(to right top, #19191af1, #4d4949de), url(../../img/quotes/introvert.jpg); }
  .gridImageCell--25 {
    background-image: linear-gradient(to right top, #6d290a79, #9157117a), url(../../img/quotes/art_in_losing.jpg); }
  .gridImageCell--26 {
    background-image: linear-gradient(to right top, #9157117a, #fff1f4a2), url(../../img/quotes/enemy_knowing.jpg); }
  .gridImageCell--27 {
    background-image: linear-gradient(to right top, #1a1b1b8e, #0c694388), url(../../img/quotes/a_day_will_come.jpg); }
  .gridImageCell--28 {
    background-image: linear-gradient(to right top, #1c1f1f8e, #e0dfdfa2), url(../../img/quotes/imagination.jpg); }
  .gridImageCell--29 {
    background-image: linear-gradient(to right top, #925d0d7c, #b3a7398a), url(../../img/quotes/experience.jpg); }
  .gridImageCell--30 {
    background-image: linear-gradient(to right top, #2225258e, #0b66108c), url(../../img/quotes/brain_as_processor.jpg); }
  .gridImageCell--31 {
    background-image: linear-gradient(to right top, #060707ab, #4e3106a8), url(../../img/quotes/lifestyle_promised.jpg); }
  .gridImageCell--32 {
    background-image: linear-gradient(to right top, #272e2e8e, #c4a62175), url(../../img/quotes/road_less_taken.jpg); }
  .gridImageCell--33 {
    background-image: linear-gradient(to right top, #758686e7, #115c68d8), url(../../img/quotes/world.jpg); }
  .gridImageCell--34 {
    background-image: linear-gradient(to right top, #d6d9da75, #fffbfc88), url(../../img/quotes/silence.jpg); }
  .gridImageCell--35 {
    background-image: linear-gradient(to right top, #41330694, #2e2b2b6b), url(../../img/quotes/someone_looking.jpg); }
  .gridImageCell--36 {
    background-image: linear-gradient(to right top, #0000008e, #cc9f238c), url(../../img/quotes/seeing_is_believing.jpg); }
  .gridImageCell--37 {
    background-image: linear-gradient(to right top, #0505058e, #7092b9a2), url(../../img/quotes/mountain_top.jpg); }
  .gridImageCell--38 {
    background-image: linear-gradient(to right top, #1e1f1f8e, #09631d83), url(../../img/quotes/past_realisation.jpg); }
  .gridImageCell--39 {
    background-image: linear-gradient(to right top, #1416168e, #9998988a), url(../../img/quotes/mistakes.jpg); }
  .gridImageCell--40 {
    background-image: linear-gradient(to right top, #0607078e, #947f8371), url(../../img/quotes/time.jpg); }
  .gridImageCell--41 {
    background-image: linear-gradient(to right top, #b8b8b873, rgba(245, 245, 220, 0.61)), url(../../img/quotes/optimism.jpg); }
  .gridImageCell--42 {
    background-image: linear-gradient(to right top, #1416168e, #c9c3c496), url(../../img/quotes/different.jpg); }
